<body>
  {{renderPage}}
</body>

<template name="layout">
    <div id="wrapper">
    <div class="overlay"></div>
    {{> nav}}
    <div id="page-content-wrapper">
              <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
                  <span class="hamb-top"></span>
                  <span class="hamb-middle"></span>
                  <span class="hamb-bottom"></span>
              </button>
              {{> Notifications}}
                {{> yield}}
                  <p>
                    <center>
                      <p>Copyright © 2014 <a href="#" target="blank">AUBGbay</a> / All rights reserved.</p>
                    </center>
                  </p>
    </div>
</div>
  <script>
  $(document).ready(function () {

    var trigger = $('.hamburger'),
        overlay = $('.overlay'),
       isClosed = false;

      trigger.click(function () {
        hamburger_cross();
      });

      function hamburger_cross() {

        if (isClosed == true) {
          overlay.hide();
          trigger.removeClass('is-open');
          trigger.addClass('is-closed');
          isClosed = false;
        } else {
          overlay.show();
          trigger.removeClass('is-closed');
          trigger.addClass('is-open');
          isClosed = true;
        }
    }

    $('[data-toggle="offcanvas"]').click(function () {
          $('#wrapper').toggleClass('toggled');
    });
  });
  </script>
</template>
