/*
    background-color: #EB383B;
    background-color: #EFB12A;
    background-color: #3282DD;
    background-color: #86B52A;
    */
.label-red {
        background-color: white;
        color: #EB383B;
        border: 1px solid #EB383B;
    }
.label-red.selected{
      background-color: #EB383B;
      color: white;
    }
.label-orange{
  background-color: white;
  color: #EFB12A;
  border: 1px solid #EFB12A;
}
.label-orange.selected{
      background-color: #EFB12A;
      color:white;
    }
.label-blue{
  background-color: white;
  color: #3282DD;
  border: 1px solid #3282DD;

}
.label-blue.selected{
  color:white;
  background-color: #3282DD;
}
.label-green{

  background-color: white;
  color: #86B52A;
  border: 1px solid #86B52A;
}
.label-green.selected{
      background-color: #86B52A;
      color:white;
    }
