.panel.with-nav-tabs .panel-heading{
    padding: 5px 5px 0 5px;
}
.panel.with-nav-tabs .nav-tabs{
	border-bottom: none;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
.panel-default > .panel-heading {
    background-color: #ffffff;
}
.panel {
    border: none;
    padding: 10px;
}
