<template name="nav">
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
          <li class="sidebar-brand">
              <a href="#">
                {{#if currentUser}}
                 {{currentUser.services.facebook.name}}
                 {{else}}
                 AUBGbay
                 {{/if}}
              </a>
          </li>
          <li>
              <a href="/">Home</a>
          </li>
          <li>
             <a href="#"  data-toggle="modal"  class="logoBox" data-target="#postModal">Add Item</a>
          </li>
          <li>
              <a href="{{pathFor route='members'}}">Members</a>
          </li>
          <li>
              <a href="#">Team</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filters <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li class="dropdown-header">Select filter</li>
              <li><a href="#">Mine</a></li>
              <li><a href="#">Books</a></li>
              <li><a href="#">Electronics</a></li>
              <li><a href="#">Cloathing</a></li>>
            </ul>
          </li>
          <li>
              <a href="#">Services</a>
          </li>
          <li>
              <a href="#">Contact</a>
          </li>
          <li>
            {{#if currentUser}}
                          <a href="#" id="logout">Logout</a>
              {{else}}
              <a href="#" id="facebook-login">Login with Facebook</a>
              {{/if}}
          </li>
          <li>
              <a href="https://www.facebook.com/groups/aubgbay/?ref=ts&fref=ts">Follow</a>
          </li>
      </ul>
  </nav>
</template>
