<template name="Searchbar">
  <div class="col-lg-12">
      <input type="search" class="form-control" id="input-search" placeholder="Search For Item..." >

      <div class="col-md-12">
                               <br />
            <p>
              <a href="#" id="Mine" class="labelLink" ><span class="label label-large label-pink arrowed-right">Mine</span></a>
              <a href="#" class="labelLink " ><span class="label label-large label-yellow arrowed-in">Popular</span></a>
              <a href="#" class="labelLink" ><span class="label label-large label-purple">Viewed</span></a>
              <a href="#" class="labelLink" ><span class="label label-large label-grey arrowed-in-right arrowed-in">Recent</span></a>
              <a href="#" class="labelLink" ><span class="label label-large label-light arrowed-in-right">Light</span></a>
            </p>
        </div>

  </div>
</template>
