<template name="addModalItem">

      <!-- Modal -->
      <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-labelledby="myPostModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Create a Post</h4>
              </div>
              <div class="modal-body">

                {{ #autoForm collection="Items" id="insertPostForm" type="insert" }}
                {{> afQuickField placeholder="name of the item" name="name" rows=1}}
                {{> afQuickField placeholder="9.99" name="price" rows=1}}
                      {{> afQuickField name="category"}}
                {{> afQuickField name="body" placeholder="describe the product" rows=4}}
                {{> afQuickField name="images"  collection="Images" label="Choose file" remove-label="Remove" }}

                <button type="submit" class="insertPost btn btn-primary ">submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                {{/autoForm}}
              </div>
            </div>
          </div>
      </div>

</template>
