<template name="itemPage">
<div class="container">
  {{#if name}}
  <div class="row">
      <div class="col-md-12">
        <h3><a href="/"><i class="fa fa-chevron-left"></i></a></h3>
        {{#if images}}
          {{> Carousel}}
        {{else}}
        <center>
              <img  src="/images/no_image.gif">
        </center>
        {{/if}}

      <div class="col-md-8 col-md-offset-2">
        <div class="panel with-nav-tabs panel-default">
            <div class="panel-heading">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab1default" data-toggle="tab">Description</a></li>
                        <li>
                          <a>
                            <div class="{{category}}">
                              {{category}}
                            </div>
                          </a>
                        </li>
                        <li><a>by {{username}}</a></li>
                    </ul>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="tab1default">
                      <h3>{{name}} : {{formatMoney price}}</h3>
                      <p>
                        {{body}}
                      </p>
                    </div>

                </div>
            </div>
        </div>
        {{> Comments}}
    </div>
</div>

  </div>
  {{> chatPopup userId}}
  {{else}}
      {{> loading}}
{{/if}}

</div>
</template>
