<template name="chat">

    <div class="tile tile-alt" id="messages-main">
        <div class="ms-menu">
            <div class=" list-group lg-alt">
              {{#each users}}
                <a class="list-group-item media" href="">
                    <div class="lv-avatar pull-left">
                      <img src="http://graph.facebook.com/{{services.facebook.id}}/picture/?type=large" alt="" class="img-avatar">
                    </div>
                    <div class="media-body">
                        <div class="list-group-item-heading">{{services.facebook.name}}</div>
                        <small class="list-group-item-text c-gray">Suspendisse justo nulla luctus nec</small>
                    </div>
                </a>
              {{/each}}
            </div>
        </div>

        <div class="ms-body">

            <div class="action-header clearfix">
                <div class="showUsers visible-xs" id="ms-menu-trigger">
                   <i class="fa fa-users" aria-hidden="true"></i>
                </div>
            </div>
            {{#each users}}
              {{#each messages this}}
                  message
              {{/each}}
            {{/each}}
            <div class="message-feed media">
                <div class="pull-left">
                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar">
                </div>
                <div class="media-body">
                    <div class="mf-content">
                        Quisque consequat arcu eget odio cursus, ut tempor arcu vestibulum. Etiam ex arcu, porta a urna non, lacinia pellentesque orci. Proin semper sagittis erat, eget condimentum sapien viverra et. Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                    </div>
                    <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 09:00</small>
                </div>
            </div>

            <div class="message-feed right">
                <div class="pull-right">
                    <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
                </div>
                <div class="media-body">
                    <div class="mf-content">
                        Mauris volutpat magna nibh, et condimentum est rutrum a. Nunc sed turpis mi. In eu massa a sem pulvinar lobortis.
                    </div>
                    <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 09:30</small>
                </div>
            </div>

            <div class="message-feed media">
                <div class="pull-left">
                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar">
                </div>
                <div class="media-body">
                    <div class="mf-content">
                        Etiam ex arcumentum
                    </div>
                    <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 09:33</small>
                </div>
            </div>

            <div class="message-feed right">
                <div class="pull-right">
                    <img src="http://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="img-avatar">
                </div>
                <div class="media-body">
                    <div class="mf-content">
                        Etiam nec facilisis lacus. Nulla imperdiet augue ullamcorper dui ullamcorper, eu laoreet sem consectetur. Aenean et ligula risus. Praesent sed posuere sem. Cum sociis natoque penatibus et magnis dis parturient montes,
                    </div>
                    <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 10:10</small>
                </div>
            </div>

            <div class="message-feed media">
                <div class="pull-left">
                    <img src="http://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="img-avatar">
                </div>
                <div class="media-body">
                    <div class="mf-content">
                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam ac tortor ut elit sodales varius. Mauris id ipsum id mauris malesuada tincidunt. Vestibulum elit massa, pulvinar at sapien sed, luctus vestibulum eros. Etiam finibus tristique ante, vitae rhoncus sapien volutpat eget
                    </div>
                    <small class="mf-date"><i class="fa fa-clock-o"></i> 20/02/2015 at 10:24</small>
                </div>
            </div>

            <div class="msb-reply">
                <textarea placeholder="What's on your mind..."></textarea>
                <button><i class="fa fa-paper-plane-o"></i></button>
            </div>
        </div>
    </div>
</template>
