<template name = "listPage">
  <div class="row">
  {{> search}}
  </div>

</template>

<template name="search">
  <center>
      <div class="col-lg-12">
            {{> EasySearch.Input index=itemIndex attributes=attributes}}
          <div class="col-md-12">
                                   <br />
                <p>
                  <a href="#"  class="labelLink" ><span id="Mine" class="label label-large label-pink arrowed-right">Mine</span></a>
                  <a href="#" id="Popular" class="labelLink " ><span class="label label-large label-yellow arrowed-in">Popular</span></a>
                  <a href="#" class="labelLink" ><span class="label label-large label-purple">Viewed</span></a>
                  <a href="#" class="labelLink" ><span class="label label-large label-grey arrowed-in-right arrowed-in">Recent</span></a>
                  <a href="#" class="labelLink" ><span class="label label-large label-light arrowed-in-right">Light</span></a>
                </p>
            </div>

      </div>
</center>
<br>
<br>
<br>
  <div class="searchable-container">
    {{#EasySearch.Each index=itemIndex}}
      {{> item}}
    {{/EasySearch.Each}}
  </div>

  {{> EasySearch.LoadMore index=itemIndex}}
  {{#EasySearch.IfSearching index=itemIndex}}
  <div>Searching...</div>
  {{/EasySearch.IfSearching}}

  {{#EasySearch.IfNoResults index=itemIndex}}
    <div class="no-results">No results found!</div>
  {{/EasySearch.IfNoResults}}
</template>
