<template name = "listPage">
  {{> mainButton}}  
  <div class="container">
      <div class="row">
      {{> search}}
      </div>
  </div>
</template>

<template name="search">
  <center class="headBar">

      <div class="col-lg-12">
            {{> EasySearch.Input index=itemIndex attributes=attributes}}
          <div class="col-md-11">
                                   <br />
                <span id="mine" class="label label-pill label-blue">Mine</span>
                <span id="books" class="label label-pill label-red category">Books</span>
                <span id="electronics" class="label label-pill label-orange category">Electronics</span>
                <span id="clothing" class="label label-pill label-green category">Clothing</span>
                  <span id="other" class="label label-pill label-blue category">Other</span>
                                  <br />
            </div>
            <div class="col-md-1">
                    <span><i class="glyphicon glyphicon-sort-by-attributes-alt"></i></span>
            </div>
      </div>

</center>
<br>
<br>
<br>
  <div class="searchable-container">
    {{#EasySearch.Each index=itemIndex}}
      {{> item}}
    {{/EasySearch.Each}}
  </div>

  {{> EasySearch.LoadMore index=itemIndex}}
  {{#EasySearch.IfSearching index=itemIndex}}
  <div>Searching...</div>
  {{/EasySearch.IfSearching}}

  {{#EasySearch.IfNoResults index=itemIndex}}
    <div class="no-results">No results found!</div>
  {{/EasySearch.IfNoResults}}
  

</template>
