<template name = "listPage">
  <div class="row">
  {{> search}}
  </div>
</template>

<template name="search">
  <center>
      <div class="col-lg-12">
            {{> EasySearch.Input index=itemIndex attributes=attributes}}
          <div class="col-md-12">
                                   <br />
                <span id="Mine" class="label label-pill label-blue">Mine</span>
                <span id="Popular" class="label label-pill label-red">Popular</span>
                <span id="Recent" class="label label-pill label-orange">Recent</span>
                <span id="Recent" class="label label-pill label-green">Cheap</span>
                                  <br />
            </div>

      </div>
</center>
<br>
<br>
<br>
  <div class="searchable-container">
    {{#EasySearch.Each index=itemIndex}}
      {{> item}}
    {{/EasySearch.Each}}
  </div>

  {{> EasySearch.LoadMore index=itemIndex}}
  {{#EasySearch.IfSearching index=itemIndex}}
  <div>Searching...</div>
  {{/EasySearch.IfSearching}}

  {{#EasySearch.IfNoResults index=itemIndex}}
    <div class="no-results">No results found!</div>
  {{/EasySearch.IfNoResults}}
</template>
