<template name="mainButton">
    <div class="container">
                <div class="row">
                  <center>
                    {{#if currentUser}}
                    {{>addModalItem}}
                    <a href="#"  data-toggle="modal"  class="logoBox" data-target="#postModal"><img class="logo" src="/images/AUBGbay.jpg" /></a>
                    {{else}}
                        <a href="#" class="logoBox" id="facebook-login"><img class="logo" src="/images/AUBGbay.jpg" /></a>
                    {{/if}}
                  </center>
                </div>
              </div>
</template>